openapi: '3.0.2'
info:
  title: File Share
  version: '1.0'
  license:
    name: MIT
    url: https://github.com/ramank775/fileshare-server/blob/main/LICENSE
  description: one9x file share api
  contact:
    name: Raman
    email: raman.jay14@gmail.com
    url: https://github.com/ramank775
servers:
  - url: https://fileshareapi.one9x.com

tags:
  - name: client
  - name: server
paths:
  /file:
    get:
      tags:
        - "client"
      parameters:
        - name: tkn
          in: query
          allowEmptyValue: false
          required: true
          schema:
            type: string
        - name: auth_type
          in: query
          required: true
          schema:
            type: string
        - name: filename
          in: query
          description: filename param only required for particular strategy. Refer to the strategy information for required params.
          schema:
            type: string
        - name: project_id
          in: query
          description: project_id param only required for particular strategy. Refer to the strategy information for required params.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            image/*:
              schema:
                type: string
                format: binary
            video/*:
              schema:
                type: string
                format: binary
            application/vnd.*:
              schema:
                type: string
                format: binary
            text/*:
              schema:
                type: string
                format: text
            application/octet-stream:
              schema:
                type: string
                format: binary
            application/*:
              schema:
                type: string
        '401':
          description: Unauthroized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_code:
                    type: string
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_code:
                    type: string
                  message:
                    type: string
    post:
      tags:
        - "client"
      parameters:
        - name: tkn
          in: query
          allowEmptyValue: false
          required: true
          schema:
            type: string
        - name: auth_type
          in: query
          required: true
          schema:
            type: string
        - name: filename
          in: query
          description: filename param only required for particular strategy. Refer to the strategy information for required params.
          schema:
            type: string
        - name: project_id
          in: query
          description: project_id param only required for particular strategy. Refer to the strategy information for required params.
          schema:
            type: string
      requestBody:
        required: true
        content:
          image/*:
            schema:
              type: string
              format: binary
          video/*:
            schema:
              type: string
              format: binary
          application/vnd.*:
            schema:
              type: string
              format: binary
          text/*:
            schema:
              type: string
              format: text
          application/octet-stream:
            schema:
              type: string
              format: binary
          application/*:
            schema:
              type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  file:
                    type: object
                    properties:
                      name:
                        type: string
        '401':
          description: Unauthroized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_code:
                    type: string
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_code:
                    type: string
                  message:
                    type: string
                  
  /generate:
    post:
      tags:
        - "server"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: object
                  properties:
                    name:
                      type: string
                    content_length:
                      type: integer
                      format: "int64"
                    content_type:
                      type: string
                options:
                  type: object
                  properties:
                    auth:
                      type: object
                      properties:
                        type:
                          type: string
                        options:
                          type: object
                    expire_in:
                      type: integer
                      format: "int64"
                    usage:
                      type: string
                      enum:
                        - single
                        - multiple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  url:
                    type: string
        '401':
          description: Unauthroized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_code:
                    type: string
                  message:
                    type: string

      security:
        - api_key: []


components:
  securitySchemes:
    api_key:
      name: api_key
      type: apiKey
      in: header
